{% extends 'base.html' %}
{% block content %}
<div class="col-10">
    <div class="text-center pb-5" style="margin-top: 100px;">
        <h1 class="card-title">Каталог</h1>
    </div>
    <div class="row row-cols-4 row-cols-md-3 me-1 ms-1 mt+5 g-5">
        <div class="col">
            <div class="card">
                <img src="/static/img/images.jpg" class="card-img-top" alt="catalog1" height="200">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве
                        естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/static/img/images.jpg" class="card-img-top" alt="catalog2" height="200">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве
                        естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/static/img/images.jpg" class="card-img-top" alt="catalog3" height="200">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве
                        естественного перехода к дополнительному контенту.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/static/img/images.jpg" class="card-img-top" alt="catalog4" height="200">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве
                        естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/static/img/images.jpg" class="card-img-top" alt="catalog5" height="200">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве
                        естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/static/img/images.jpg" class="card-img-top" alt="catalog6" height="200">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве
                        естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}