{% extends 'base.html' %}
{% block content %}
    <div class="col-10">
        <div class="text-center" style="margin-top: 150px;">
            <h1 class="card-title fs-1 pb-2">Категория 1</h1>
        </div>
        <div class="row text-center" style="margin-right: -200px;">
            <div class="col-sm-3 mt-5 ms-5">
                <div class="card ms-5">
                    <div class="card-body">
                        <h5 class="card-title">Товар 1</h5>
                        <h2 class="card-title">1000р.</h2>
                        <p class="card-text">Покупай скорее, цена ограниченна только сегодня и только для тебя!</p>
                        <a href="#" class="btn btn-primary">Купить</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-5 ms-5">
                <div class="card ms-5">
                    <div class="card-body">
                        <h5 class="card-title">Товар 2</h5>
                        <h2 class="card-title">1500р.</h2>
                        <p class="card-text">Покупай скорее, цена ограниченна только сегодня и только для тебя!</p>
                        <a href="#" class="btn btn-primary">Купить</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-5 ms-5">
                <div class="card ms-5">
                    <div class="card-body">
                        <h5 class="card-title">Товар 3</h5>
                        <h2 class="card-title">2000р.</h2>
                        <p class="card-text">Покупай скорее, цена ограниченна только сегодня и только для тебя!</p>
                        <a href="#" class="btn btn-primary">Купить</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-5 ms-5">
                <div class="card ms-5">
                    <div class="card-body">
                        <h5 class="card-title">Товар 1</h5>
                        <h2 class="card-title">1000р.</h2>
                        <p class="card-text">Покупай скорее, цена ограниченна только сегодня и только для тебя!</p>
                        <a href="#" class="btn btn-primary">Купить</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-5 ms-5">
                <div class="card ms-5">
                    <div class="card-body">
                        <h5 class="card-title">Товар 2</h5>
                        <h2 class="card-title">1500р.</h2>
                        <p class="card-text">Покупай скорее, цена ограниченна только сегодня и только для тебя!</p>
                        <a href="#" class="btn btn-primary">Купить</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-5 ms-5">
                <div class="card ms-5">
                    <div class="card-body">
                        <h5 class="card-title">Товар 3</h5>
                        <h2 class="card-title">2000р.</h2>
                        <p class="card-text">Покупай скорее, цена ограниченна только сегодня и только для тебя!</p>
                        <a href="#" class="btn btn-primary">Купить</a>
                    </div>
                </div>
            </div>
            <div style="margin-top: 100px; margin-left: -100px;">
                <a href="https://sky.pro/" class="btn btn-primary btn-lg">Перейти на сайт SkyPro</a>
            </div>
        </div>
    </div>
{% endblock %}