{% extends 'base.html' %}
{% block content %}
    <div class="col-10">
        <div class="text-center pb-5" style="margin-top: 100px;">
            <h1 class="card-title">Контакты</h1>
        </div>
        <div class="row" style="margin-top: 100px;">
            <div class="col-1"></div>
            <div class="col-4">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Адрес электронной почты</label>
                        <input type="email" class="form-control mb-2" id="exampleFormControlInput1"
                               placeholder="name@example.com">

                        <label for="inputPassword5" class="form-label">Пароль</label>
                        <input type="password" id="inputPassword5" class="form-control"
                               aria-describedby="passwordHelpBlock">
                        <div id="passwordHelpBlock" class="form-text">
                            Ваш пароль должен состоять из 8-20 символов, содержать буквы и цифры и не должен содержать
                            пробелов, специальных символов или эмодзи.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Сообщение</label>
                        <textarea class="form-control mb-3" id="exampleFormControlTextarea1" rows="3"></textarea>

                        <button type="submit" class="btn btn-primary">Отправить</button>

                    </div>
                </form>
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                <h2>Наши контакты</h2>
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный
                печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки
                образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в
                электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами
                Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker,
                в шаблонах которых используется Lorem Ipsum.
            </div>
            <div style="margin-top: 150px; margin-left: 600px;">
                <a href="https://sky.pro/" class="btn btn-primary btn-lg">Перейти на сайт SkyPro</a>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
{% endblock %}